---
layout: page
group: "navigation-02"
title: Blog
page-title: no
id: blog
lang: de
description: Die Blogübersicht.
---
<div class="posts-container">
{% assign posts = site.posts | where:"lang", page.lang %}
{% for post in posts limit: 30 %}
    {% include article_index.html %}
{% endfor %}
</div>

{% if site.baseurl != '' or null %}
    {% assign base = site.baseurl %}
{% else %}
    {% assign base = '' %}
{% endif %}

{% if posts.size > 30 %}
<div class="all-posts-link">
    <a href="{{ base }}/archiv/" class="btn">Alle Posts</a>
</div>
{% endif %}
