footer
    .foot
        .container
            .left
                span.copyright &copy; by {{ site.name }}
                &nbsp;&middot;&nbsp;
                span.copyright initium; theme by #[a(href="http://halfapx.com") &frac12; a px&period;]
                &nbsp;&middot;&nbsp;
                span.year 2016
            .right
                span.backtotop back to top
        // .container end
    // .foot end
// footer end

script(src="{{ base }}/js/build/main.min.js")

include analytics.html