.header {
    width: 100%;
    position: relative;
    text-align: center;
    background: {
        size: cover;
        position: center;
    }
    .container {
        padding: 150px 0;
    }

    h1{
        border: 1px solid $black;
        font-size: 4.5em;
        font-weight: normal;
        border-radius: 3px;
        box-sizing: border-box;
        display: inline-block;
        padding: 10px;
        background: $background-color;
    }

    img{
        max-width: 320px;
        background-color: white;
        border: 1px solid $black;
    }
}
