// TOOLBOX COLORS
//---------------------------------------------------------------------
$white: #FDFDFD;
$black: #121212;

$darkgray: #333;
$lightgray: #ccc;

// PROJECT COLORS
//---------------------------------------------------------------------
$beige: #F0ECE9;
$yellow: #EBD8BC;
$taupe: #555155;
$greige: #D4C8D1;
$babyblue: #B4C4C9;
